    * {
      font-family: tahoma;
      font-size: 13px;
      line-height: 1.7em;
    }
    
    body {
      direction: rtl;
      width: 300px;
      background-color: #fefefe;
      padding: 0;
      text-align: right;
    }
    
    a{
      text-decoration: none;
    }

    .ltr {
      direction: ltr;
    }
    
    .alert-warning {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
    }
    .alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    .alert {
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid transparent;
      border-radius: 4px;
      text-align: justified;
    }
    .alert:last-child{
      margin-bottom: 0;
    }

    header {
      background-color: #1f8dd6;
      padding: 5px;
      color: #fff;
    }
    
    header h3 {
      margin: 10px 0;
    }
    
    section {
      padding: 10px;
      display: none;
    }
    
    section.active{
      display: block;
    }

    section h4 {
      margin: 5px;
    }

    .pure-button-full{
      width:100%;
    }
    .pure-form select {
      height: 2.55em;
      width:100%;
    }

    .button-return{
      position: absolute;
      left: 10px;
    }

.progress{
    height: 30px;
    border:1px solid silver;
    padding: 3px;
    margin-bottom: 5px;
}

.bar{
    text-align: center;
    width:33%;
    background-color: #337ab7;
    color:#fff;
    height: 100%;
    line-height: 30px;
}

#main h3{
    margin-top:0;
}

.running-task{
    padding:5px;
    padding-bottom:10px;
    border-bottom:1px solid #e1e1e1;
    margin-bottom:10px;
}
